body, html {
   height:100%
}

body {
	background: url(../img/sf-backdrop.jpg);
	background-position: no-repeat center center;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background-repeat: no-repeat;

	color: #03A9F4;
	text-align: center;
}

.card-title {
	color: rgba(32, 43, 62, 1) !important;
}

.event {
	margin-bottom: 0px;
}

.ga-office-img{
z-index: -1;
max-height: 400px;
}

.indicator {
background-color: #03A9F4 !important;
}

.internhacks-main-logo{
margin-left: auto;
margin-right: auto;
}

.internhacks-wrapper {
padding-top: 10%;
padding-bottom: 10%;
height: 100vh;
}

.logo {
max-height: 150px;
}


.footer-container{
width: 100%;
}

footer.page-footer {
background-color: #384452 !important;
margin-top: 0px;
text-align: left;
}

#internhacks-footer-logo{
padding-left: 30px;
width: auto;
}

.page-wrapper{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2fb3ee+0,76c9ed+100&amp;0.37+0,1+31,1+75,1+99 */
background: -moz-linear-gradient(top,  rgba(47,179,238,0.37) 0%, rgba(69,186,238,1) 31%, rgba(100,196,237,1) 75%, rgba(117,201,237,1) 99%, rgba(118,201,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,179,238,0.37)), color-stop(31%,rgba(69,186,238,1)), color-stop(75%,rgba(100,196,237,1)), color-stop(99%,rgba(117,201,237,1)), color-stop(100%,rgba(118,201,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(47,179,238,0.37) 0%,rgba(69,186,238,1) 31%,rgba(100,196,237,1) 75%,rgba(117,201,237,1) 99%,rgba(118,201,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(47,179,238,0.37) 0%,rgba(69,186,238,1) 31%,rgba(100,196,237,1) 75%,rgba(117,201,237,1) 99%,rgba(118,201,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(47,179,238,0.37) 0%,rgba(69,186,238,1) 31%,rgba(100,196,237,1) 75%,rgba(117,201,237,1) 99%,rgba(118,201,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(47,179,238,0.37) 0%,rgba(69,186,238,1) 31%,rgba(100,196,237,1) 75%,rgba(117,201,237,1) 99%,rgba(118,201,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e2fb3ee', endColorstr='#76c9ed',GradientType=0 ); /* IE6-9 */


}

.row {
margin-bottom: 0px;
}

div > .row.sponsors {
width: 70%;
padding-bottom: 20px;
}

.card.col.s12.schedule-tabs.hide-on-med-and-down {
padding-left: 0px !important;
padding-right: 0px !important;
margin-top: -2%;
  margin-bottom: 0;
}

.faq-wrapper {
 width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.parallax{
	z-index: 0;
opacity: .75;
}

.row {
width: 100%;
}

.schedule-item{

background-color: rgba(240, 248, 255, 0.49);
text-align: left;
padding-left: 10% !important;

height: 200px;
}

.schedule {

}

.schedule-item > p {
max-width: 50%;
display: inline-block;
}

.schedule-item > span {
display: block;
}

.schedule-item > img {
float: right;
height: 100px;
}

.schedule-tabs {
margin-top: -5%;
}

.sponsors {
margin-bottom: 0px;
margin-top: 0px;
}


.tabs {
font-size: 200%;
background-color: aliceblue;
list-style-position:inside;

}


.tabs .tab a {
color: #03A9F4 !important;
}

h5, h4{
font-weight: 250;
}

.question {
font-weight: 500;
}

div.question-item {
	padding-bottom: 20px !important;
}

#register-button{
background-color: rgba(240, 248, 255, 0.49);
font-size: 150%;
font-weight: 500;
color: rgba(32, 43, 62, 1);
margin-top: 20px;
margin-bottom: 20px;
width: 30%;
}

#ga-office-img{
width: 100% !important;
opacity: .9 !important;
}



#event-description-container {
width: 90%;
padding-bottom: 10%; 
}

#event-info {
color: white;
padding-bottom: 20px;
}

#event-description > div > h2, h3 {
	text-shadow: 1px 1px 1px whitesmoke;
}

.sponsors > h2, h3 {
	text-shadow: 1px 1px 1px whitesmoke;
}

#learn {
color: white !important;
text-shadow: 1px 1px 1px whitesmoke;
}

#weebly-logo {
height: 100px;
}
