
@media only screen and (max-device-width: 1000px) {

body {
	background: url();
}

#register-button{
width: 60%;
}
#event-description > div > h4 {
	font-size: 150%;
}

#event-description > div > h5 {
	font-size: 110%;
}

.internhacks-main-logo{
	width: 100%
}

.collapsible{

}

#ga-office-img, .sponsors {
	margin-top: -5%;
}

.collapsible-body{
	background-color: whitesmoke;
}

.collapse-instructor {
	float: left;
		font-size: 90%;
}

.collapse-time, .collapse-title {
	display: inline-block;
}

.collapse-time {
	float: left;
	font-weight: bold;
}


.internhacks-wrapper {
padding-top: 20%;
padding-bottom: 20%;
height: 100%;
}

div > .row.sponsors {
width: 100%;
height: 30%;
padding-top: 5%;
}

footer {
	display: none;
}

body > div.page-wrapper > div.card.sponsors.hoverable > h4 {
	font-size: 100%;
}

.schedule-mobile-title {
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: whitesmoke;
}
}