
	@media only screen and (max-device-width: 600px) {

	#apply-button{
	width: 60%;
}
	#event-description > div > h4 {
  	font-size: 150%;
	}

	#event-description > div > h5 {
  	font-size: 110%;
	}

	.internhacks-main-logo{
		width: 100%
	}

	.collapsible-body{
		background-color: whitesmoke;
	}

	.collapse-instructor {
		float: left;
  		font-size: 90%;
	}

	.collapse-time, .collapse-title {
		display: inline-block;
	}

	.collapse-time {
		float: left;
		font-weight: bold;
	}


	.internhacks-wrapper {
	padding-top: 20%;
	padding-bottom: 20%;
}

	.schedule-mobile-title {
		margin-bottom: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: whitesmoke;
	}
}